body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(360deg, #FF4C4C, #FF6A6A, #FF4C4C); */
    background-color: #FF6A6A;
    color: white;
}

#myH1{
    font-size: 4rem;
    font-family: "Arial",sans-serif;
    color:hsl(0, 0%, 100%);
}


#container {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 5px solid;
   padding: 30px;
   border-radius: 20px;
   background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0,0%,30%);
    text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    
}

#start{
    background-color: green;
}

#start:hover{
    background-color: hsl(115,100%,30%);
}

#stop {
    background-color: hsl(10, 90%, 50%);
}

#stop:hover {
    background-color: hsl(10, 90%, 40%);
}

#reset {
    background-color: hsl(205, 90%, 60%);
}

#reset:hover {
    background-color: hsl(205, 90%, 40%);
}

