/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  height: 50px;
  width: 100vw;
  background-color: coral;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%
}

.nav--icon {
  padding-top: 12px
}

.nav--text {
  padding-top: 10px
}

img {
  width: 160px;
  height: 200px;
}

.card {
  display: flex;
  /* justify-content: ; */
  align-items: center;
}

.card--img {
  margin: 30px;
}

.card--info>span {
  letter-spacing: 1px;

}

a {
  font-size: 12px;
  letter-spacing: 0px;
  color: gray;
}

.card--name {
  font-size: 14px;
  font-weight: 900;
  margin-top: 8px;
  margin-bottom: 15px;
}

.card--dates {
  font-weight: 700;
  margin-bottom: 10px;
}

.card--desc {
  font-size: 13px;
  color: black
}



body {
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: auto; */
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0px;
  padding: 0px;
  /* background-color: #282D35; */
  /* background-color:#21222A; */
}