<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/form.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <title>Blog Website</title>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="title">
                <h1>Medium</h1>
            </div>
            <div class="items">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>