<%- include("partials/header.ejs") %>
    <form action="/submit">
        <input type="text" placeholder="Enter title" />
        <textarea name="content" id="" placeholder="Start writing here" rows="15"></textarea>
        <input type="file" placeholder="Upload image" />
        <input type="submit" value="submit">
    </form>
    <%- include("partials/footer.ejs") %>