<%- include("partials/header.ejs") %>
    <div class="card">
        <div class="blog">
            <div class="header">
                <h3>Tesla Unveils Autonomous Delivery</h3>
            </div>
            <div class="info">
                <p>Tesla has successfully completed the world’s first autonomous vehicle delivery, showcasing its
                    advanced
                    self - driving
                    capabilities. Tesla shares sore high after last week Trump-Elon feud...</p>
            </div>
        </div>
        <div class="img">
            <img src="images/tesla.jpg" alt="Tesla">
        </div>
    </div>
    <!-- <div class="card" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/tesla.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div> -->
    <%- include("partials/footer.ejs") %>